$text-color: rgb(27, 112, 240);
$outer-space: #44474dff;
$davys-gray: #535356ff;
$dim-gray: #625f5eff;
$dim-gray-2: #726b67ff;
$gray: #81776fff;
$cinereous: #908478ff;
$beaver: #9f9080ff;
$khaki: #af9c89ff;
$khaki-2: #bea891ff;
$khaki-3: #cdb49aff;
